header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    .head , .left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:0px 1pc ;
    }
    .left{
        width: 20pc;
        h1{
            font-family: "PTSans-bold",Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 30px;
            margin: 0px;
        }
        button{
            background-color: rgba(169, 169, 169, 0.288);
            border: none;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 10px;
            span{
                opacity: 0.4;
            }
            fa-icon{
                opacity: 0.4;
                font-size: 20px;
                margin: 0px 5px;
            }
        }
        margin: 20px 0px;
    }
    .right{
        button{
            background-color: #fff;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0em 0em 2em rgba(169, 169, 169, 0.288);
            fa-icon{
                opacity: 0.4;
                font-size: 20px;
                margin: 0px 5px;
            }
        }
    }
}
.card_payments{
    display: flex;
    align-items: center;
    .card_content{
        display: flex; 
        max-width: 1100px;
        overflow: hidden;
        .image{
            width: 22pc;
            img{
                width: 100%;
                cursor: pointer;
                &:hover{
                    transition: 0.3s;
                    transform: scale(99%);
                    box-shadow: 0em 0em 2em rgba(100, 100, 100, 0.548);
                }
            }
            
        }
    }
    button{
        background-color: #fff;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0em 0em 2em rgba(169, 169, 169, 0.288);
    }
}
button{
    cursor: pointer;
}